.vscode/
Binaries/
Config/
Content/
DerivedDataCache/
Saved/
UE5/
Intermediate/
udemyOpenWorld/
.gitignore
.ignore
/.vs
/.editorconfig
/.vsconfig
/Rashepur.code-workspace
/Rashepur.sln
/Rashepur.uproject
/shadertoolsconfig.json
